{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-white">
                    <h2 class="mb-0">{{ titre }}</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            {{ form.username|as_crispy_field }}
                        </div>
                        
                        <div class="mb-3">
                            {{ form.email|as_crispy_field }}
                        </div>
                        
                        <div class="mb-3">
                            {{ form.password1|as_crispy_field }}
                        </div>
                        
                        <div class="mb-4">
                            {{ form.password2|as_crispy_field }}
                        </div>
                        
                        <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
                    </form>
                </div>
                <div class="card-footer bg-white text-center">
                    <span>Vous avez déjà un compte ?</span>
                    <a href="{% url 'utilisateurs:connexion' %}" class="text-decoration-none">Connectez-vous</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}